@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Raleway:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #1a212e;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
nav {
    width: 85%;
    height: 15vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#logo {
    width: 130px;
    height: auto;
}
#navbar {
    list-style: none;
    display: flex;
    font-family: 'Raleway' , Open Sans;
}
#navbar li {
    width: 100px;
}
#navbar a {
    text-decoration: none;
    color: white;
}
#navbar li a:hover{
    text-decoration: underline;
}
#section1{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
#image-text1 {
    width: 600px;
    margin: auto;
    margin-bottom: 30px;
}
#image1 {
    width: 470px;
    margin-bottom: 30px;
}
#image-text1 h1 {
    font-size: 2rem;
    line-height: 2.3rem;
    margin-bottom: 25px;
    font-family: 'Raleway' , Open Sans;
}
#image-text1 p {
    width: 500px;
    line-height: 1.6rem;
    font-weight: 700px;
    margin: 0 auto 30px;
}
#button {
    width: 250px;
    padding: 14px;
    border: none;
    border-radius: 25px;
    background: rgb(13, 205, 253);
    color: white;
}
#button a {
    text-decoration: none;
    color: white;
}
#desktop-bg{
    width: 100%;
    height: 40vh;
    position: relative;
    top: -210px;
    z-index: -1;
}
#section2 {
    width: 100%;
    height: auto;
    background: #1a212e;
    position: relative;
    top: -210px;
    z-index: -1;
}
#section2 #icon3 {
    width:300px;
    margin-bottom: 2px;
}
#section2 #icon4 {
    width: 300px;
    margin-bottom: 2px;
}
#our-services {
    width: 70%;
    min-height: 50vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
}
#container {
    margin: 30px 0;
}
#container img {
    width: 70px;
    height: auto;
    margin-bottom: 25px;
}
#service-text {
    width: 400px;
    line-height: 1.5rem;
    margin-bottom: 50px;
}
#service-text h2 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    font-family: 'Raleway' , Open Sans;
}
#section3 img {
    width: 550px;
    height: auto;
}
#section3{
    width: 85%;
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
#section3-text {
    width: 550px;
}
#section3-text h1 {
    font-size: 2rem;
    width: 300px;
    margin-bottom: 15px;
    font-family: 'Raleway' , Open Sans;
}
#section3-text p {
    margin-bottom: 30px;
}
#section3-text #arrow {
    width: 17px;
}
#compliment {
    width: 90%;
    min-height: 70vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
}
#compliment::after {
    content: url(images/quote-symbol.png);
    position: absolute;
    top: -180px;
    left: -150px;
    z-index: -1;
}
#compliment-container {
    width: 385px;
    height: 200px;
    background-color: #202a3c;
    padding: 25px 15px;
    box-shadow: 2px 2px 3px #253041;
    z-index: 1;
}
#compliment-text {
    width: 345px;
    font-size: 14px;
    line-height: 1.5rem;
}
#profile-container {
    width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
#profile1 {
    width: 50px;
    height: 50px;
    background-image: url(images/comment-image1.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
#profile-text span {
    font-size: 14px;
    color: white;
}
#profile-text h4 {
    font-family: 'Raleway' , Open Sans;
}
#profile2 {
    width: 50px;
    height: 50px;
    background: url(images/comment-image2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
#profile3 {
    width: 50px;
    height: 50px;
    background: url(images/comment-image3.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}
#sign-up {
    width: 60%;
    height: 35vh;
    background-color: #202a3c;
    margin: auto;
    border-radius: 5px;
    top: 70px;
    display: flex;
    text-align: center;
    padding: 20px;
    box-shadow: 3px 3px 4px #00000080;
    position: relative;
    z-index: 1;
}
#sign-up-text h1 {
    margin-bottom: 15px;
    font-family: 'Raleway' , Open Sans;
}
form {
    margin-top:  30px;
}
input[type="email"] {
    width: 500px;
    padding: 14px 20px;
    border: none;
    border-radius: 25px;
    background-color: white;
    margin-right: 25px;
}
input[type="submit"] {
    width: 200px;
    padding: 14px 20px;
    border: none;
    color: white;
    background-color: #59d6be;
    border-radius: 25px;
}
footer {
    width: 100%;
    height: 60vh;
    background-color: #0b1523;
    display: flex;
    flex-direction: column;
    position: relative;
}
footer #logo {
    position: relative;
    top: 100px;
    left: 50px;
    margin-bottom: 50px;
}
#wrapper {
     width: 90%;
     margin: auto;
     display: flex;
     justify-content: space-between;
}
#direction {
    width: 350px;
    display: flex;
}
li {
    list-style: none;
    line-height: 2rem;
}
li a{
    text-decoration: none;
    color: white;
}
.fas {
    margin-right: 15px;
}
#direction .fas {
    margin-top: 4px;
}
#fb, #tw, #ig {
    margin-right: 10px;
    padding: 5px;
    border: 2px solid  white;
    border-radius: 50%;
}
#fb {
    padding: 5px;
}
.fa {
    margin-right: 15px;
    color: white;
}
a .fab {
    text-decoration: none;
    color: white;
}

/* Media query for mobile(375px) */
@media screen and (max-width: 375px){
    nav {
        width: 90%;
    }
    #logo {
        width: 70px;
        height: auto;
    }
    #navbar li {
        width: 70px;
        margin-right: 5px;
    }
    #navbar li:nth-child(2) {
       width: 50px;
    }
    #navbar li:nth-child(3) {
        width: 50px;
    }
    #section1 {
        width: 300px ;
        margin: auto;
    }
    #image1 {
        width: 350px;
    }
    #image-text1 {
        width: 300px;
        margin: auto;
    }
    #image-text1 h1 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    #image-text1 p {
        width: 320px;
        line-height: 1.5rem;
    }
    #button {
        width: 200px;
    }
    #desktop-bg {
        display: none;
    }
    #our-services {
        width: 85%;
        margin: 250px auto 0;
    }
    #service-text {
        width: 300px;
        margin: auto;
    }
    #service-text h2 {
        margin-bottom: 10px;
        font-size: 1.2rem;
    }
    #service-text p {
        font-size: 14px;
        width: 200px;
        margin: auto;
    }
    #section3 {
        margin-top: 0;
    }
    #section3 img {
        width: 300px;
        height: auto;
    }
    #section3-text h1 {
        font-size: 1rem;
        margin: 15px 0;
    }
    #section3-text p {
        margin-bottom: 30px;
        font-size: 14px;
    }
    #compliment {
        width: 90%;
        min-height: 100vh;
        margin: 100px auto 0;
    }
    #compliment::after {
        top: -280px;
        left: -100px;
    }
    #compliment-container {
        width: 320px;
        height: 230px;
        margin-bottom: 25px;
    }
    #compliment-text {
        width: 310px;
    }
    #sign-up {
        width: 92%;
        height: 60vh;
        margin: auto;
        position: relative;
        top: 50px;
    }
    #sign-up-text {
        width: 300px;
    }
    #sign-up-text h1 {
        margin-bottom: 15px;
        font-size: 1.2rem;
    }
    input[type="email"] {
        width: 300px;
        margin-bottom: 15px;
    }
    input[type="submit"] {
        width: 300px;
    }
    footer {
        height: 120vh;
    }
    footer #logo {
        width: 20vh;
        top: 80px;
        left: 30px;
    }
    #wrapper {
        width: 85%;
        flex-direction: column;
    }
    #direction {
        width: 300px;
    }
    #wrapper p {
        font-size: 14px;
        margin: 70px 0px 35px auto;
        line-height: 1.2rem;
    }
    #about-us {
        margin: 30px 15px;
    }
    #contact-us {
        margin: 20px 15px;
    }
    #social-media-links{
        width: 80%;
        margin: 15px auto 0;
    }
    #fb, #tw, #ig {
        font-size: 10px;
    } 
    #direction .fas {
        margin-top: 75px;
    }
}
